html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all .3s ease;

}

a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  margin-bottom: -30px;
}